.App {
  text-align: center;
  background-color: #121212;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #1e1e1e;
  padding: 20px;
  color: white;
  width: 100%;
}

input[type="file"] {
  margin: 20px;
  color: white;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  color: white;
}

th, td {
  border: 1px solid #444;
  padding: 8px;
}

th {
  background-color: #333;
}

tbody tr:nth-child(even) {
  background-color: #2c2c2c;
}

h2 {
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  color: #ffffff;
  background-color: #2c2c2c;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
}
